.grid{
  margin-left: 16vw;
  padding: 30px;
  margin-right: 3vw;
  margin-bottom: 5vh;
  font-family: Roboto;
  font-weight: 700;
  color: rgb(82, 79, 79);
  font-size: 1.2em;
  text-shadow: 0px 0px 2px rgb(155, 152, 152);
}

.action{
  margin-top: 10vh;
  
}



.Anime{
  margin-top: 15px;
  width: 200px;
  height: 320px;
  box-shadow: 0 0 15px  rgb(163, 160, 160);
  border-radius: 15px;

  background-position: center;
  background-size: cover;
  overflow: hidden;
  transition: all 0.5s
}

.Anime:hover{
  transform: scale(1.05);
  cursor:pointer;
}

.AnimeAction{
  position: relative;
  display: inline-block;
}
.Description{
    position: absolute;
    top: 0px;
    left: 100%;
    margin-left: 18px;
    margin-top: -30px;
    width: 300px;
    height: 150px;
    opacity: 0;
    
    background-color: rgb(237,241,245);  
    box-shadow: 0 0 100px 1px rgb(224, 221, 221);
    border-radius: 15px;
    padding: 10px;

    transition: all 0.4s;
    transform: scale(0.95);
}

.Description::before{
  content:"";
  position: absolute;
  top: 50px;
  left: -20px;
  
 
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid rgb(237,241,245);
  border-bottom: 10px solid transparent;

  

}

.starDiv{
  display: flex;
  align-items: top;
  
}

.starDiv img{
  width: 10%;
  filter: drop-shadow(0px 0px 22px  rgba(0, 0, 0, 0.582));
}