

.grid{
  margin-top: 5%;
  position: relative;
  margin-left: 16vw;
  padding: 50px;
  margin-right: 3vw;
  margin-bottom: 5vh;
  font-family: Roboto;
  font-weight: 700;
  color: rgb(82, 79, 79);
  font-size: 1.2em;
  text-shadow: 0px 0px 2px rgb(155, 152, 152);
  

  
  
  
  box-shadow: 0 0 10px #27297c, 0 0 20px #1f22c7, 0 0 30px #1215be, 0 0 40px #0a0d91, 0 0 70px #090a69, 0 0 80px #2b2d42;
  background-image: url("menubackground.jpg");
  
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  border-bottom-right-radius: 25%;
  
  
  
}

.action{
  margin-top: 10vh;
  
}



.Anime{
  margin-top: 15px;
  width: 200px;
  height: 320px;
  box-shadow: 0 0 15px  rgb(163, 160, 160);
  border-radius: 15px;

  background-position: center;
  background-size: cover;
  
  transition: all 0.5s
}

.Anime:hover{
  transform: scale(1.05);
  cursor:pointer;
}

.AnimeRomance,
.AnimeAction{
  margin-top: 5%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-row-gap: 50px;
}
.Description{
    position: absolute;
    top: 0px;
    left: 65%;
    
    margin-top: -30px;
    width: 300px;
    height: 150px;
    opacity: 0;
    
    background-color: rgb(237,241,245);  
    box-shadow: 0 0 50px rgb(224, 221, 221);
    border-radius: 15px;
    padding: 10px;

    transition: all 0.4s;
    transform: scale(0.95);
    z-index: 10;
}

.Description::before{
  content:"";
  position: absolute;
  top: 50px;
  left: -20px;
  
 
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid rgb(237,241,245);
  border-bottom: 10px solid transparent;

  

}

.starDiv{
  display: flex;
  align-items: top;
  
}

.starDiv img{
  width: 10%;
  filter: drop-shadow(0px 0px 22px  rgba(0, 0, 0, 0.582));
}

/*
.DescriptionDiv::before{
  position: fixed;
  content:"";
  filter: brightness(30%);
  background-image: url("Action/ActionOne/FateZero.jpg");
  background-position: center;
  background-size: cover;
  width: 75vw;
  height: 65vh;
  z-index: -1;
  padding: 25px;
  
}



.actionTwoDescription::before{
  background-image: url("Action/ActionTwo/wallpaper.jpg");
}

.actionThreeDescription::before{
  background-image: url("Action/ActionThree/wallpaper.jpg");
}

.actionFourDescription::before{
  background-image: url("Action/ActionFour/wallpaper.jpg");
}

.actionFiveDescription::before{
  background-image: url("Action/ActionFive/wallpaper.jpg");
  
}
*/

.DescriptionDiv{
  
  width: 75vw;
  height: max-content;
  position: fixed;
  
  
  left: 50%; /* on positionne l'élément à la moitié de l'écran */
  margin-left: -37.5vw; /* on applique une marge négative de la moitié de la largeur de l'élément */
  top:50%;
  margin-top: -37.5vh;
  transform: skewY(1deg);
  display: grid;
  grid-template-columns: 35% 65%;
  
  transition: all 0.5s;
  opacity: 1;
  
  z-index: 20;
  padding: 25px;
}

.textDivAnime{
  transform: skewY(-1deg);
  margin: 1%;
  font-family: Roboto ;
  font-weight:400;
  color: rgb(190, 185, 185);
  text-align: center;
  overflow-y: scroll;
}

body::-webkit-scrollbar, 
div::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  
}
body::-webkit-scrollbar-thumb, 
div::-webkit-scrollbar-thumb {
  background-color: #2b2d42;
  border-radius: 5px;
}

.imageDescription{
  position: relative;
  width: 120%;
  height: 110%;
 
  
  object-fit: cover;
  object-position: center;
  
  
  
  
}


.SuccesAndFavorite{
  margin-top: 10%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.Succes{
  background-color: rgba(128, 128, 128, 0.527);
  transform: skewY(-5deg);
  padding: 30px;
}

.imgSucces{
  display: flex; 
  justify-content: space-between;
  margin-top: 5%;
}

.imgSucces img{
  transition: all 0.5s;
  margin: 5px;
}
.imgSucces img:hover{
  transform: scale(1.2);
  
}

.SuccesTitle{
  color: red; 
  text-decoration: underline;
  transform: skewY(5deg);
  margin: 0;
}
.Favorite{
  position: relative;
  margin: 20px;
  width: 25vw;
  height: 25vh;
  margin-right: 10%;
  border-radius: 30px;
  overflow: hidden;
  filter: brightness(75%);
  
}

.peoplehidden,
.medalhidden,
.bookhidden,
.hearthidden{
  position: absolute;
  pointer-events: none;
  transition: all 0.2s;
  opacity: 0;
  font-size: 80%;
  width: 60%;
  padding: 10px;
  background-color: rgb(44, 45, 46);
  transform: skewY(5deg);
  z-index: 99;
  
}

.hearthidden::before{
  content:"";
  position: absolute;
  top: 35px;
  left: 78px;
  
 
  border-top: 10px solid rgb(44, 45, 46);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.hearthidden{
  top: 20px;
  right: 120px;
 
}

.bookhidden::before{
  content:"";
  position: absolute;
  top: 35px;
  left: 73px;
  
 
  border-top: 10px solid rgb(44, 45, 46);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}


.bookhidden{
  top: 20px;
  right: 70px;
  
}

.medalhidden::before{
  content:"";
  position: absolute;
  top: 55px;
  left: 78px;
  
 
  border-top: 10px solid rgb(44, 45, 46);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.medalhidden{
  top:-8px;
  right: -25px;
  
}

.peoplehidden::before{
  content:"";
  position: absolute;
  top: 55px;
  left: 78px;
  
 
  border-top: 10px solid rgb(44, 45, 46);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.peoplehidden{
  
  top:-5px;
  right: 30px;
  
}

.visible:hover .hearthidden,
.visible:hover .bookhidden,
.visible:hover .peoplehidden,
.visible:hover .medalhidden {
  
  opacity: 1;
}

.object{
  margin: 4%;
  border-radius: 20%;
  height: 70vh;
  border: solid 2px goldenrod;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: 99;
}

.background{
  width: 100%;
  height: 100%;
  filter: brightness(30%);
  position: fixed;
  top: 0px;
  left: 0px;
  object-fit: cover;
  object-position: center;
}

.flex{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.TitlePhidden{
  font-size: 1.5em; font-family:Roboto ; font-weight: 700; color: rgb(22, 160, 202); text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.buttonHiddenDiv{
  width: 3.5%;
 position: absolute;
 right: 0px;
 transition: all 0.5s ;
}

.buttonHiddenDiv:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.hidden{
  opacity: 0;
  pointer-events: none;
}

.addAnime{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: top;
  top: 0px;
  left: 150px;
  border: solid 2px pink;
  
  padding: 0 15px 0 15px;
  
  border-radius: 100%;
  text-shadow: none;
  transition: all 1s ;
}

.addAnime:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.title{
  
  font-size: 2.5em;
  text-shadow: 0 0 10px #0e19b3, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF00FF, 0 0 70px #FF00FF, 0 0 80px #170f86, 0 0 100px #0400ff, 0 0 150px #0e0c8b;
  color: #fdfbfb;

  animation: neon 2s ease-in-out infinite alternate ;
}