body{
    height: 150vh;
    margin: 0;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 1%;
    margin: 0;
}


.left-head-hidden{
    position:fixed;
    background: linear-gradient(to top, rgb(12, 78, 122) , #2b2d42);
    width: 15vw;
    left:-15vw;
    top: 0px;
    bottom: 0px;
    transition:all 0.5s ;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    
}
    

.left-head-visible{
    position: relative;
    left:0px;
    width: 20vw;
    
    transition:all 0.5s 
}

    
.logo{ 
    
    width: 10%;
    transition: all 0.3s ease-in-out
}

.logo:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.returnButton{
    position: absolute;
    right:15px;
    top:10px
}
.mid-head{
    width: auto;
    font-size: 3.5em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    color: whitesmoke;
    text-shadow: 0px 0px 30px rgb(17, 171, 195);
}

.right-head-visible{
    width: 20vw;
    text-align: end;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.right-head-hidden{
    position:fixed;
    background-color: lightblue;
    width: 20vw;
    right:-20vw;
    top: 0px;
    bottom: 0px;
    
}