body{
    height: 150vh;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
     margin: 1%;
}


.left-head-hidden{
    position:fixed;
    background-color: lightblue;
    width: 15vw;
    left:-15vw;
    top: 0px;
    bottom: 0px;
    transition:all 0.5s 
}
    

.left-head-visible{
    width: 20vw;
    
    transition:all 0.5s 
}

    
.logo{ 
    
    width: 10%;

    transition: all 0.3s ease-in-out
}

.logo:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.mid-head{
    width: auto;
    font-size: 3.5em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    color: whitesmoke;
    text-shadow: 0px 0px 30px rgb(17, 171, 195);
}

.right-head-visible{
    width: 20vw;
    text-align: end;
}


.right-head-hidden{
    position:fixed;
    background-color: lightblue;
    width: 20vw;
    right:-20vw;
    top: 0px;
    bottom: 0px;
    
}